.header {
  border-right: 1px solid black;
  flex-grow: 1;
  display: flex;
  justify-content: center;

  body.dark & {
    border-right: 1px solid white;
  }

  &__nav {
    display: flex;
    align-items: center;

    &--list {
      list-style: none;
      padding: 0;
    }
  }
}

.list {
  &__links {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__container {
    display: flex;
    padding: 20px;
    color: #2b1b88;
    &--icon {
      padding-right: 20px;
      font-size: 30px;
      color: #2b1b88;
    }
    &:hover {
      background-color: rgb(104, 104, 187);
      border-radius: 50px;
    }
  }
}

.friends {
  font-size: 25px;
}

.profile {
  padding-right: 24px;
}

a {
  text-decoration: none;
}
