.item {
  height: 20rem;
  width: 15rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease all;
  @media all and (min-width: 1200px) {
    height: 25rem;
    width: 25rem;
  }
  body.dark & {
    border: 1px solid white;
  }

  &--title {
    border: 1px solid black;
    height: 5rem;
    font-size: 26px;
    font-weight: 700;
    color: #2b1b88;
    display: flex;
    justify-content: center;
    align-items: center;

    body.dark & {
      border: 1px solid white;
      background-color: white;
    }
  }
}
