.switch {
  align-self: flex-end;
  margin-right: 4rem;
  margin-bottom: 4rem;
  background-color: #343d5b;
  border-radius: 3rem;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  &::after {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: #f1f1f1;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  &.active {
    background: #faa83c;
    &::after {
      right: 0;
      left: unset;
    }
  }
  span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
  }
}

.switch-icon {
  font-size: 2rem;
}
